<!-- Navigation -->
<div id='navigation'>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style='padding-right:5px !important;'>
          <img alt="BlackBerry" src="images/demo.png" height="25" style='display:inline;'>
          <text class='header-text'>ADTF</text>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right" style=''>
          <li><a href="index.php"><i class="fa fa-home fa-2x fa-fw"></i></a></li>
          <li><a href="search.php"><i class="fa fa-search fa-2x fa-fw"></i></a></li>
          <li><a href="overview.php"><i class="fa fa-pie-chart fa-2x fa-fw"></i></a></li>
          <li id='adminNav' style='display:none;'><a href="admin.php"><i class="fa fa-cog fa-2x fa-fw"></i></a></li>
        </ul>
      </div>
    </nav>
  </div>
